{% extends 'form_div_layout.html.twig' %}

{% block webuni_article_widget %}
    {% spaceless %}
        <div class="webuni-article-title">
            {{ form_row(form.title) }}
        </div>

        <div class="webuni-article-content">
            {{ form_row(form.content) }}
        </div>

        <div class="webuni-article-publishAt">
            {{ form_row(form.publishAt) }}
        </div>
        {{ custom_var }}
        {#<textarea>{{ form.title.vars.value }}</textarea>#}
    {% endspaceless %}
{% endblock webuni_article_widget %}