{% extends 'WebuniAppBundle::layout.html.twig' %}

{#{% form_theme form '::fields.html.twig' %}#}

{% block body %}
    {{ form(form, {'attr' : {novalidate: 'novalidate'}}) }}
    {#{{ form(form, {'attr' : {novalidate: 'novalidate'}, 'action': path('webuni_admin_default_index'), 'method': 'PUT'}) }}#}


    {#{{ form_start(form) }}#}
    {#{{ form_errors(form) }}#}
    {#{{ form_row(form.title) }}#}
    {#{{ form_row(form.publishAt) }}#}
    {#{{ form_end(form) }}#}

    {#{{ form.title.vars.value }}#}


    {#{{ form_start(form) }}#}
    {#{{ form_errors(form) }}#}
    {#<div>#}
        {#{{ form_label(form.title, 'My custom title') }}#}
        {#{{ form_errors(form.title, {'attr': {'class': 'webuni-article-title'}})) }}#}
        {#{{ form_widget(form.title) }}#}
    {#</div>#}
    {#<div>#}
        {#{{ form_label(form.publishAt) }}#}
        {#{{ form_errors(form.publishAt) }}#}
        {#{{ form_widget(form.publishAt) }}#}
    {#</div>#}
    {#<div>#}
        {#{{ form_widget(form.save) }}#}
    {#</div>#}
    {#{{ form_end(form) }}#}    {# CSRF _token #}
{% endblock %}