{% extends 'WebuniAppBundle::layout.html.twig' %}

{% block body %}
    <ul>
        {% for error in errors %}
            <li>{{ error.propertyPath }} - {{ error.invalidValue }} - {{ error.message }}</li>
        {% endfor %}
    </ul>
{% endblock%}