{% extends 'WebuniUserBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{#{% form_theme form '::fields.html.twig' %}#}

{% block body %}

    {{ form_start(form, {'attr' : {novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {% if form.agreement is defined %}
        {{ form_row(form.agreement) }}
    {% endif %}
    {{ form_end(form) }}

{% endblock %}