body {
  color: #333;
  position: relative;
}
.page-side-bar {
  padding: 25px 0;
}
.page-side-bar-left {
  border-right: 1px solid #dadada;
}
.page-footer {
  border-top: 1px solid #dadada;
  margin: 20px 0;
  padding: 25px 10px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .current > a {
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  background-repeat: repeat-x;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.075) inset;
}
