{% extends 'WebuniAppBundle::layout.html.twig' %}

{#{% form_theme form '::fields.html.twig' %}#}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    {{ form(form, {'attr' : {novalidate: 'novalidate'}}) }}
{% endblock %}