<div class="navbar navbar-default">
    <div class="container-fluid">
        {% block primary_navigation %}
            <div class="collapse navbar-collapse">
                {{ knp_menu_render('main') }}
            </div>
        {% endblock %}
    </div>
</div>